h1 {
    color: whitesmoke;
    text-align: left;
}
h2 {
    color: lightcyan;
}
table {
    margin: 10px;
}
th {
    color: black;
    background-color: lightgrey;
    font-size: large;
}
td {
    color: black;
    background-color: whitesmoke;
    font-size: larger;
    word-wrap: break-word;
    margin: 10px;
}
body {
    color: whitesmoke;
    font-size: larger;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5a/Books_HD_%288314929977%29.jpg");
}
input[type=text]{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 30%;
    font-family: inherit;
    font-size: 20px;
}
input[type=submit]{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    font-family: inherit;
    font-size: 20px;
}

input[type=button]{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    font-family: inherit;
    font-size: 20px;
}
a.button {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-size: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}